/**
 * @version		$Id: legal.css 3700 2014-08-05 11:17:46Z mic $
 * @package		Legal - backend css
 * @author		mic - http://osworx.net
 * @copyright	2013 OSWorX - http://osworx.net
 * @license		OCL OSWorX Commercial - http://osworx.net
 */

.legal-textarea { width: 99%; min-height: 300px; padding: 5px; border: 1px solid #CCCCCC; background: #FFFFFF; overflow: scroll; }
.legal-fieldset { border: 1px solid #D0D0D0; padding: 10px; margin-top: 10px; }
.legal-plugin	{ width: 99%; margin: 10px; padding: 5px; border: 1px solid #C0C0C0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.legal-plugin_col { float: left; vertical-align: top; color: #3C3C3C; }
.px50 { width: 50px; }
.pc50 { width: 50%; }

/* coloured rows */
table.list tr.row0      { background-color: #FFFFFF; }
table.list tr.row1 td   { background-color: #F9F9F9; }
table.list tr:hover td  { background-color: #FFFFDD; }

/* buttons */
.inline-buttons { float:right; margin-right: 15px; }
/* extra button colors */
a.button_delete { background: #F13131 !important; }
a.button_apply	{ color: #015114 !important; background: #90DE8B !important; }
a.button_cancel { color: #7F5C01 !important; background: #FFDB55 !important; }
a.button_setting { color: #3E3E3E !important; background: #D5D5D5 !important; }
a.button_pink { color: #292929 !important; background: #EEB2F1 !important; }
a.button_orange { color: #292929 !important; background: #F1CCB2 !important; }

.help-outline {
    border: 1px solid #4DB45D;
    background-color: #EAFFF0;
    color: #666666;
    padding: 10px;
    margin: 10px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.help_inline    { border: 1px solid #EFEFEF; margin: 10px; padding: 10px; }
.help_link      { margin: 0 0 10px 10px; }

.vtop           { vertical-align: top !important; }
.nowrap         { white-space: nowrap; }
.fieldset_grey  { border: 1px solid #D0D0D0; margin-top: 5px; }

.legend {
	margin			: 3px;
	padding			: 5px;
	border			: 1px solid #D0D0D0;
	background-color: #F8F8F8;
	/*color			: #2E2E2E; */
}

.grey   {	color: #666666; }
.red    {	color: #FF0000; }
.green  {	color: #01910D; }
.orange {   color: #FF9E00; font-weight: bold; }

.bold   { font-weight: bold; }

.image_controls { text-align: center; margin-top: 5px; }

/* base price */
.basePriceInfo {
    border: 1px solid #07A252;
    padding: 5px;
    background-color: #EDFFF7;
    color: #176B4F;
    font-weight: bold;
    border-radius: 5px;
}

/* ace editor */
.ace_editor { position: relative; width: 100%; min-height: 450px; height: 100%; border: 1px solid #EBEBEB; }
.textLine { width: 90%; }

/* override wrong tabs settings */
.htabs a { margin-bottom: 2px; -webkit-border-radius: 5px 5px 0 0 !important; -moz-border-radius: 5px 5px 0 0 !important; -khtml-border-radius: 5px 5px 0 0 !important; border-radius: 5px 5px 0 0 !important; }
.htabs a.selected { padding-bottom: 6px !important; }

/* override ui-accordion */
.ui-accordion-content	{ background-color: #FEFEFE !important; padding: 0 !important; }
.ui-widget-content		{ background-color: #FEFEFE !important; background-image: none !important; }