/**
 * @version		$Id: support.css 3730 2014-09-15 08:47:53Z mic $
 * @package		Tools - Support
 * @author		mic - http://osworx.net
 * @copyright	2013 OSWorX - http://osworx.net
 * @license		OCL OSWorX Commercial - http://osworx.net
 */

.support        { float: left; margin: 3px 0 0 20px; }
.shadow         { text-shadow: 3px 3px 6px #35B054; }

a.support-button {
    margin-left     : 4px;
    padding         : 4px 8px;
    color           : #FCFCFC; /*#343434;*/
    /*font-weight     : bold;*/
    text-decoration : none;
    /*border          : 1px solid white;*/
    border-radius   : 7px;
        -webkit-border-radius   : 7px;
        -moz-border-radius      : 7px;
    /*text-shadow     : 1px 1px 0px white;*/

    box-shadow          : 0 1px 3px #333;
        -moz-box-shadow     : 0 1px 3px #333;
        -webkit-box-shadow  : 0 1px 3px #333;
        -o-box-shadow       : 0 1px 3px #333;

    background-color    : #F1F1F1; /* fallback for web browsers not supporting RGBa */
    background-image    : -moz-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) ); /* FF 3.6+ */
    background-image    : -webkit-gradient(linear, 0 top, 0 bottom, from( rgba(255, 255, 255, 0.5 ) ), to( rgba(255, 255, 255, 0.0 ) ) ); /* Safari 4+, Chrome 2+ */
    background-image    : -o-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) ); /* Opera 11.10 */
    background-image    : -ms-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) );
}

a.support-button:hover {
    color   : #FCFCFC;
    cursor  : pointer;
    background-color: #32A832;
        background: -moz-linear-gradient(#32A832, #32CD32);
        background: -webkit-linear-gradient(#32A832, #32CD32);
        background: -ms-linear-gradient(#32A832, #32CD32);
        background: -o-linear-gradient(#32A832, #32CD32);
        background: linear-gradient(#32A832, #32CD32);
}

a.support-button:active  {
    color       : #eee;
    background  : #ee0000;
        background: -moz-linear-gradient(#E60101, #FF4C4C);
        background: -webkit-linear-gradient(#E60101, #FF4C4C);
        background: -ms-linear-gradient(#E60101, #FF4C4C);
        background: -o-linear-gradient(#E60101, #FF4C4C);
    box-shadow  : 0px 1px 1px #000, inset 0px 0px 5px #fff;
		-o-box-shadow: 0px 1px 1px #000, inset 0px 0px 5px #fff;
		-webkit-box-shadow: 0px 1px 1px #000, inset 0px 0px 5px #fff;
		-moz-box-shadow: 0px 1px 1px #000, inset 0px 0px 5px #fff;
    /*
    transform   : scale(0.95, 0.95);
        -moz-transform      : scale(0.95, 0.95);
        -o-transform        : scale(0.95, 0.95);
        -webkit-transform   : scale(0.95, 0.95);
        -ms-transform       : scale(0.95, 0.95);
    */
}

/* colored */
.support-button.red     { background-color: #e50000; }
.support-button.purple  { background-color: #9400bf; }
.support-button.green   { background-color: #58aa00; }
.support-button.orange  { background-color: #ff9c00; text-shadow: 1px 1px 0px black; }
.support-button.blue    { background-color: #2c6da0; }
.support-button.black   { background-color: #333; }
.support-button.white   { background-color: #F1F1F1; color: #000;  }
.support-button.white:hover { color: #FCFCFC; }

/* size variants */
.support-button.small       { font-size: 75%; padding: 3px 7px; }
.support-button.small:hover { background-position: 0 -50px; }
.support-button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.support-button.large       { font-size: 125%; padding: 7px 12px; }
.support-button.large:hover { background-position: 0 -35px; }
.support-button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

/* messages close */
.support-close { float: right; margin-top: -8px; padding-right: 4px; cursor: pointer; font-size: 24px; }

/* responsive */
@media (max-width: 810px) {
	.support-banner { display: none; }
}