/**
 * @version		$Id: legal.css 3753 2014-09-30 11:05:56Z mic $
 * @package		Legal - Frontend CSS
 * @author		mic - http://osworx.net
 * @copyright	2012 OSWorX - http://osworx.net
 * @license		OCL OSWorX Commercial http://osworx.net
 */

.attribs    { float: left; width: 99%; margin: 5px 0; padding: 5px; }
.attribs li { list-style: none; padding-left: -20px; }

/* optional - if rounded corners not wanted, comment content inside .round out */
.attribs .round {
    -webkit-border-radius   : 7px;
    -moz-border-radius      : 7px;
    -khtml-border-radius    : 7px;
    border-radius           : 7px;
}

.attribs .summary       { float: left; width: 99%; margin: 5px 0; padding: 5px; border-bottom: 1px dotted #EBEBEB; color: #5B5B5B; }
.attribs .summary.odd   { background: #F9F9F9; }
.attribs .summary:hover { background-color: #F6F6F6; color: #000000; }

.attribs .intro         { padding: 5px; margin-bottom: 10px; color: #575757; background-color: #F9F9F9; border: 1px solid #EBEBEB; }
/* NOTE: this container (.content) MUST be in another color than the shop! see also .totals */
.attribs .content       { border: 1px solid #EBEBEB; background-color: #DDF6ED; }

.attribs .addresses     { float: left; width: 100%; margin: 15px 0; }
.attribs .address       { float: left; width: 50%; }
.attribs .payment_method { margin: 15px 0; }

.attribs .text          { float: left; width: 60%;}
.attribs .description   { float: left; padding-top: 10px; }
.attribs .text_summary  {}
.attribs .lazy          { width: 225px; margin-right: 10px; }
.attribs .title         { font-weight: bold; width: 60%; }
.attribs .image         { float: left; margin-right: 5px; }

.attribs .options       { float: left; width: 250px; margin-top: 15px;}
.attribs .options div.item      { width: 160px; }
.attribs .options span.title    { float: left; display: inline-block; width: 100px; font-style: italic; }
.attribs .options span.value    { float:right; text-align: right; }

.attribs .attrib        { float: left; margin-left: 30px; }
.attribs .attrib span.title     { font-style: italic; }

.attribs .price         { float: right; text-align: right; width: 210px; }
.attribs .priceHeader   { float: right; width: 210px; font-weight: bold; }
.attribs .priceItem     { float: left; width: 70px; text-align: right; }

/* NOTE: .totals MUST have same color as .content */
.attribs .totals        { padding: 2px; background-color: #DDF6ED; }
.attribs .totalTitle    { float: left; text-align: right; width: 85%; padding-top: 7px; }
.attribs .totalText     { float: left; text-align: right; width: 15%; padding-top: 7px; }

.attribs .spacer        { border-top: 2px solid #555555; }

/* slider */
#legal_panel {
    color       : #4C6E66;
    background  : #FFF;
    font-weight : bold;
    height      : 40px;
    display     : none;
    margin      : 0 15px;
    padding     : 30px 15px 0px;
    width       : 300px;
    position    : fixed;
    z-index     : 1100;
    -webkit-border-radius   : 0px 7px 7px 7px;
    -moz-border-radius      : 0px 7px 7px 7px;
    -khtml-border-radius    : 0px 7px 7px 7px;
    border-radius           : 0px 7px 7px 7px;
    -webkit-box-shadow      : 0px 2px 2px #DDDDDD;
    -moz-box-shadow         : 0px 2px 2px #DDDDDD;
    box-shadow              : 0px 2px 2px #DDDDDD;
}
    .legal_slide {
        background  : #FFF;
        margin      : 0;
        padding     : 0;
        width       : 200px;
        margin-left : 100px;
        position    : fixed;
        z-index     : 1100;
        -webkit-border-radius   : 0px 7px 7px 7px;
        -moz-border-radius      : 0px 7px 7px 7px;
        -khtml-border-radius    : 0px 7px 7px 7px;
        border-radius           : 0px 7px 7px 7px;
        -webkit-box-shadow      : 0px 2px 2px #DDDDDD;
        -moz-box-shadow         : 0px 2px 2px #DDDDDD;
        box-shadow              : 0px 2px 2px #DDDDDD;
    }
    .legal_btn-slide {
    	background : url('../image/legal-arrows.png') no-repeat right -12px;
    	text-align : center;
    	width      : 144px;
    	height     : 15px;
    	padding    : 5px 10px 2px 0;
    	margin     : 0 auto;
    	display    : block;
    	font       : bold 120%/100% Arial, Helvetica, sans-serif;
    	color      : #808080;
    	text-decoration: none;
    }
    .legal_active {
    	background-position: right 5px;
    }

/* bar */
.legal_wrapper          { width: 100%; position: fixed; z-index : 1100; }
.legal_wrapper_bottom   { bottom: 0px; }
.legal_wrapper_top      { top: 0px; }

.legal_bar {
    width       : 760px;
    margin      : 0px auto;
    padding     : 5px;
    background  : #EEEEEE;
    text-align  : center;
    border-left : 1px solid #4778C0;
    border-right: 1px solid #4778C0;
}
    .legal_bar_bottom {
        border-top              : 1px solid #4778C0;
        -webkit-border-radius   : 7px 7px 0px 0px;
        -moz-border-radius      : 7px 7px 0px 0px;
        -khtml-border-radius    : 7px 7px 0px 0px;
        border-radius           : 7px 7px 0px 0px;
    }
    .legal_bar_top {
        border-bottom           : 1px solid #4778C0;
        -webkit-border-radius   : 0px 0px 7px 7px;
        -moz-border-radius      : 0px 0px 7px 7px;
        -khtml-border-radius    : 0px 0px 7px 7px;
        border-radius           : 0px 0px 7px 7px;
    }

/* Opera Fix */
body:before {
    content     : "";
    height      : 100%;
    float       : left;
    width       : 0;
    margin-top  : -32767px;
}
/* fix for ie8 - instead of using display table */
#legal_bar:after {
    clear       : both;
    display     : block;
    height      : 1%;
    content     : " ";
}

/* base price */
.base_price { float: left; width: 100%; font-weight: normal; font-size: 12px; color: #666666; }
.base_price_content { }
.base_price_price { /*font-size: smaller;*/ }

/* price info */
.legal_priceInfo { color: #5D1919; }

/* other */
.clr { clear: both; }
.difPercent { color: #FF0000; font-weight: bold; }
.daysValid { background-color: #FFFD4F; color: #FF0000; text-align: center; }