/*
* Name: Blog Manager
* Version: 1.3.2
* Author: Echothemes
* Author URL: http://www.echothemes.com
* Copyright (c) 2011 - 2013  Echothemes. All right Reserved
*/

/* General */
.blogModule { margin-bottom:10px; }
   .blogModule .box-heading { color:#222; font-size:16px; font-weight:bold; line-height:18px; }
   .blogModule ul{ line-height:18px; list-style:none; padding:0; margin:0; }
      .blogModule li { overflow:hidden; margin-bottom:10px; list-style:none!important; line-height:normal!important; }
         .blogModule li:last-child { margin-bottom:0; }
      .blogModule li a { text-decoration:none; line-height:normal!important; }
      .blogModule li a:hover { text-decoration:none; }
   .blogModule .image img { float:left; padding:4px; border:1px solid #EAEAEA; background:#fff; margin-right:13px;}
   .blogModule .title { font-size:14px; display:block; margin-bottom:5px; }
   .blogModule .image + .title { margin-bottom:0;}
   .blogModule .title + .info  span{ padding-left:63px;}  
   .blogModule .info { font-size:11px; display:block;}
   .blogModule p { margin:0; }

/* Layout */
.row-2, .row-3, .row-4 { float:left; padding-left:2%; }
   .row-first { clear:left; padding-left:0; }
   .row-2 { width:49%; }
   .row-3 { width:32%; }
   .row-4 { width:23.5%; }

/* Styling */
.boxPlain { } /* overwrite default .box style */
   .boxPlain .box-heading { padding:7px 8px; border:none; background:none; -webkit-border-radius:0; -moz-border-radius:0; -khtml-border-radius:0; border-radius:0; }
   .boxPlain .box-content { padding:9px 8px; border:none; background:none; }

.artPlain { }
   .artPlain ul { }
      .artPlain li { padding-left:12px; margin:0; background:url(../image/arrow.gif) no-repeat 0 4px; }
   .artPlain .title { font-size:13px; }
   .artPlain .image, .artPlain .info { display:none; visibility:hidden; }

/* show article module horizontally */
.artHorz-2 ul, .artHorz-3 ul, .artHorz-4 ul, .artHorz-5 ul { overflow:hidden; }
   .artHorz-2 li, .artHorz-3 li, .artHorz-4 li, .artHorz-5 li { float:left; }
   .artHorz-2 li { margin:5px 1% 10px; width:47.9% }
   .artHorz-3 li { margin:5px 1% 10px; width:30.9% }
   .artHorz-4 li { margin:5px 1%; width:22.9% }
   .artHorz-5 li { margin:5px 0.5%; width:18.9% }

/* Spesific Modules */
.blogCategories { }
   .blogCategories ul{ line-height:20px; }
      .blogCategories ul ul { margin:4px 0; }
   .blogCategories li { margin:0; line-height:26px!important; }
      .blogCategories li a { font-size:13px; line-height:16px; }
      .blogCategories li .blogActive { font-weight:bold; }

.recentArticles { }

.popularArticles { }

.recentComments { }
   .blogModule .recentComments .image { float:left; padding:4px; border:1px solid #EAEAEA; background:#fff; margin-right:13px; }
   .blogModule .recentComments, .blogModule .recentComments .title { font-size:12px; }
   
.blogTags { }

.blogArchives { }
   #blogArchive ul { display:none; }
   .blogArchives ul{ line-height:20px; }
      .blogArchives ul ul { margin:4px 0; }
   .blogArchives li { margin:0;}
      .blogArchives li a { font-size:13px; line-height:26px!important; }
         .blogArchives li li a { font-size:12px; }
         .blogArchives li li li a { font-size:11px; }
      .blogArchives li .blogActive { font-weight:bold; }