/*
* Name: Blog Manager
* Version: 1.3.2
* Author: Echothemes
* Author URL: http://www.echothemes.com
* Copyright (c) 2011 - 2013  Echothemes. All right Reserved
*/

#blogCatArticles { margin-bottom:25px; overflow:hidden; }
   #blogCatArticles p, #blogArticle p { line-height:18px; margin-bottom:20px; font-size:13px; }
   #blogCatArticles p iframe { width: 750px !important; }
   #blogArticle .articleHeader h1, #blogArticle .articleHeader h1 a, #blogCatArticles .articleHeader h3, #blogCatArticles .articleHeader h3 a { margin:0; text-decoration:none; font-size:24px; }
#blogCategory { margin-bottom:25px; overflow:hidden; }
   .articleCat { margin-bottom:15px; padding-top:15px; }
   .articleHeader { margin:0 0 15px; }
      .articleHeader span, .articleHeader span a { font-size:11px; }
      .articleHeader span a { text-decoration:none; }
         .articleHeader span a:hover { text-decoration:none; }
   .articleContent { overflow:hidden; }
      #blogCatArticles .imageFeatured { padding:0px; margin:0 20px 20px 0; border:0px solid #e4e4e4; background:#fff; float:left; }
      #blogCatArticles .articleContent span ol, #blogCatArticles .articleContent span ul { float:left; }
      .articleContent .readMore { margin-top:5px; padding:0 10px; text-align:right; }
         .articleContent .readMore span { margin-left:10px; }
         .articleContent .readMore span a { font-size:12px; text-decoration:none; }
         .articleContent .readMore span a:hover { text-decoration:none; }
#blogArticle {  }
   #blogArticle .articleHeader h1, #blogArticle .articleHeader h1 a  { margin:0; }
   .tags-update { text-align:right; margin-top:10px; }
      .tags-update .tags { float:left; }
         .tags-update .tags a { font-style: normal; }
      .updateInfo { font-size:11px; display:block; }
   .articleBottom { margin-top:20px; position:relative; }
      .articleBottom > div { margin-bottom:20px; width:100%; float:left; }
      .articleBottom h4, #blogCategory h4 { margin:25px 0 10px; font-size:16px; clear:both; letter-spacing:0; }
      .articleBottom ul, #blogCategory ul { margin:0 0 0 20px; padding:0; list-style:none; float:left; width:40%; }
         .articleBottom li, #blogCategory li { padding:3px 0; padding-left:15px; background:url(../image/arrow.gif) no-repeat 0 7px; }
      .articleBottom #articleRelated { display:block; margin-bottom:20px; width:100%; float:left; }
      .articleBottom #productRelated { display:block; margin-bottom:20px; width:100%; float:left; }
         #productRelated .box-product { width:100%; margin:0; }
            #productRelated .relProduct { width:19%; margin:0 0 15px; background:none; padding:10px; text-align:center; }
		#blogArticle .attention img { margin:0 10px; }
   #articleComments { margin:50px 0 30px; clear:left; }
      #articleComments h4 { margin:0 0 10px; font-size:20px; letter-spacing:0; }
         #articleComments h4 span { font-size:14px; font-weight:normal; }
      #articleComments #comments { overflow:hidden; }
         #comments .commentEmpty { padding:8px 10px; border:0px solid #d8d8d8; margin-bottom:10px; }
         #comments .commentList { list-style:none; padding:0; margin:15px 0 0; }
            .commentList li { min-height:75px; padding:15px 15px 15px 100px; margin-bottom:0px; position:relative; -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px; }
               .childComment li { border:1px solid #fff; }
            .commentList li .avatar { background:#fff; padding:0px; position:absolute; left:0px; top:20px; }
            .commentList li .badge { background:#222; padding:1px 4px; color:#fff; font-size:10px; letter-spacing:1px; margin-right:4px; text-shadow:1px 1px 0 #333; cursor:default; }
               .commentList li .default { background:#0555C6; }
               .commentList li .top, .commentList li .admin { background:#FF0000; }
            .commentList li .name, .commentList li .name a { font-size:15px; text-decoration:none; cursor:default; }
               .commentList li .name a { cursor:pointer; }
               .commentList li .name a:hover { text-decoration:underline; }
            .commentList li .created { font-size:11px; margin:2px 0 8px; }
            .commentList li .reply { text-align:right; height:32px; margin-top:10px; }
               .commentList li .reply a { background:#999; color:#fff; font-size:12px; padding:5px 10px 6px; text-decoration:none; text-transform:uppercase; display:inline-block; }
               .commentList li .reply a:hover { background:#666; }
            .commentList .even { border-top:1px solid #F3F3F3; }
               .childComment .even { border-top:1px solid #F3F3F3; }
            .commentList .odd { border-top:1px solid #F3F3F3; }
               .childComment .odd { border-top:1px solid #F3F3F3; }
         #comments .pagination { font-size:11px; border:none; padding:0; margin-top:5px; }
            #comments .pagination .links a, #comments .pagination .links b { font-size:10px; padding:2px 5px; }
            #comments .pagination .links a { background:#fff; color:#666; }
            #comments .pagination .links b { background:#0481CF; color:#fff; }
      #articleComments #commentRespond { padding:15px 0; }
         #commentRespond h4 { font-size:18px; }
            #commentRespond #commentTitle { }
               #comments #commentTitle { display:none; }
            #commentRespond #replyTitle { display:none; }
               #comments #commentRespond { margin-top:15px; border-top:1px solid #ccc; }
               #comments #replyTitle { display:block; margin-bottom:10px; }
         #commentRespond #cancelCommentReply { background:#666; font-size:11px; padding:3px 10px; float:right; margin-top:-27px; text-decoration:none; color:#fff; }
			#commentRespond #cancelCommentReply:hover { background:#333; }
         #commentRespond table { width:100%; }
         #commentRespond input[type="text"], #commentRespond textarea { padding:5px 4px; background:#fff; }
            #commentRespond input[disabled]  { background:none; border:none; }
            #commentRespond input[type="text"]  { width:100%; }
               #commentRespond .captcha input[type="text"]  { width:85px; }
            #commentRespond textarea { width:100%; display:block; }
         #commentRespond td { padding:3px 5px 3px 0px; }
            #commentRespond .note { font-size:10px; display:block; margin:0 8px; }
            #commentRespond td:first-child { width:125px; vertical-align:top; padding-top:6px; }
            #commentRespond td.captcha { padding-top:0; }
               #commentRespond td.captcha div { overflow:hidden; }
               #commentRespond td.captcha span { float:right; min-width:120px; }
               #commentRespond td.captcha span.captchaImage { padding-top:9px; margin-right:25px; }
         #commentRespond .error { font-size:11px; color:#d00; display:inline-block; margin:0 8px; }
         #commentRespond .right { text-align:right; padding:15px 7px 10px; float:none; }
.blogSearch { margin:15px 0; overflow:hidden; }
   .blogSearch ul { line-height:20px; list-style:none; margin:0; padding:0; }
   .blogSearch a { text-decoration:none; }
      .blogSearch a:hover { text-decoration:underline; }
   .blogSearch .title { font-size:14px; }
   .blogSearch .info, .blogSearch .readmore { color:#888; font-style:italic; font-size:11px; }
   .blogSearch img { background:#f8f8f8; padding:3px; border:1px solid #e8e8e8; }
   .blogSearch p { margin:0; }
   
   .blogSearch .plain { padding-left:20px; margin-bottom:15px; }
      .blogSearch .plain li { padding-left:15px; background:url(../image/arrow.gif) no-repeat 0 6px; }
      .blogSearch .plain .info { margin-left:15px; }
   .blogSearch .compact { }
      .blogSearch .compact li { width:47%; height:120px; float:left; padding:0 1.5%; }
      .blogSearch .compact div { margin-left:110px; }
         .blogSearch .compact .title { font-size:18px; }
         .blogSearch .compact .info { display:block; }
      .blogSearch .compact img { float:left; }
   .blogSearch .grid { }
      .blogSearch .grid > div { display:inline-block; vertical-align:top; margin-bottom:25px; }
      .blogSearch .grid img { margin:0 auto; display:block; margin-bottom:8px; }
      .blogSearch .grid .info { display:block; font-size:10px; }
#tab-related-article { overflow:hidden; }
   #tab-related-article ul { line-height:20px; list-style:none; margin:0; padding:0; }
      #tab-related-article li { width:31%; float:left; padding:0 1%; min-height:160px; overflow:hidden; }
   #tab-related-article a { text-decoration:none; }
      #tab-related-article a:hover { text-decoration:underline; }
   #tab-related-article .blogTitle { font-size:14px; display:block; }
   #tab-related-article .blogImage { float:left; margin-right:10px; }
   #tab-related-article .info { color:#888; font-style:italic; font-size:11px; margin-right:8px; }
   #tab-related-article img { background:#f8f8f8; padding:3px; border:1px solid #e8e8e8; }
   #tab-related-article p { margin:0; }
.blockClear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;	}

/* Blog Class Suffix */
#blogCatArticles.imageBlock  .imageFeatured { display:block; margin:0 auto 15px; float:none; }

.blogCol2 .articleCat { float:left; width:46%; padding:1% 2%; margin:0; }
.blogCol3 .articleCat { float:left; width:31%; padding:0.5% 1%; }
.blogCol4 .articleCat { float:left; width:23%; padding:0.5% 1%; margin:0; }
   .blogCol4 .articleHeader { margin:8px 0; }
   .blogCol4 .articleHeader h3, .blogCol4 .articleHeader h3 a { font-size:20px!important; }
   .blogCol4 .articleHeader span { display:none; visibility:hidden; }
.blogCol2 .imageFeaturedLink, .blogCol3 .imageFeaturedLink, .blogCol4 .imageFeaturedLink { display:block; }
.imageContent { background:#f4f4f4; padding:4px; margin:0 10px 10px 0; border:1px solid #e4e4e4; }